[
  {
    "name": "${name}",
    "image": "${image}",
    "cpu": ${cpu},
    "memory": ${memory},
    "networkMode": "awsvpc",
    "command": %{ if command == null }[]%{ else }["${command}"]%{ endif },
    "linuxParameters": {
      "initProcessEnabled": true
    },
    "logConfiguration": {
        "logDriver": "awslogs",
        "options": {
          "awslogs-group": "${logs_group}",
          "awslogs-region": "${logs_region}",
          "awslogs-stream-prefix": "${logs_group}-stream"
        }
    },
    "portMappings": [
      {
        "containerPort": 80,
        "hostPort": 80
      }
    ]
  }
]
